GROQ_API_KEY=your_value_here
GROQ_MODEL=your_value_here
UNSPLASH_API_KEY=your_value_here
ADMIN_SECRET=your_value_here
PGHOST=your_value_here
PGPORT=your_value_here
PGDATABASE=your_value_here
PGUSER=your_value_here
PGPASSWORD=your_value_here
PORT=your_value_here
